# Newsapi

In [1]:
pip install newsapi-python

Requirement already satisfied: newsapi-python in d:\anaconda\lib\site-packages (0.2.3)
Requirement already satisfied: requests==2.17.1 in d:\anaconda\lib\site-packages (from newsapi-python) (2.17.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\anaconda\lib\site-packages (from requests==2.17.1->newsapi-python) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests==2.17.1->newsapi-python) (2019.3.9)
Requirement already satisfied: idna<2.6,>=2.5 in d:\anaconda\lib\site-packages (from requests==2.17.1->newsapi-python) (2.5)
Requirement already satisfied: urllib3<1.22,>=1.21.1 in d:\anaconda\lib\site-packages (from requests==2.17.1->newsapi-python) (1.21.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from newsapi import NewsApiClient
import requests
import pandas as pd
import numpy as np

# To gather source-filtered news about Tesla from 1 month ago

## To gather from reputable sources

In [3]:
api = NewsApiClient(api_key='a33e0552bf474cb8b3a20c5e6e07a3d0')
all_source = api.get_sources()

In [4]:
dfsource = []

for i in range(0, len(all_source["sources"])):
    dfsource.append(all_source["sources"][i]["id"])

In [5]:
sourcelist=[11,16,18,19,24,35,38,40,43,61,97,110,118,124,125,126] #hand-picked
antisourcelist = []

for i in range(0, 135):
    if i not in sourcelist:
        antisourcelist.append(i)

In [6]:
dfsource = pd.DataFrame(dfsource)

dfsource.columns=["sources"]

for i in antisourcelist:
    dfsource.drop(labels = i, inplace = True)
    
dfsource.reset_index(drop = True, inplace = True)

In [7]:
dfsource

                    sources
0                  bbc-news
1                 bloomberg
2          business-insider
3       business-insider-uk
4                       cnn
5            financial-post
6                   fortune
7                  fox-news
8               google-news
9               independent
10                  reuters
11            the-economist
12       the-new-york-times
13  the-wall-street-journal
14      the-washington-post
15     the-washington-times

## To get the news articles

In [8]:
articlelist = []

for i in range(0, 16):
    response = api.get_everything(q="tesla", sources=dfsource.at[i, "sources"], page_size=100)
    for j in range(0, len(response["articles"])):
        articlelist.append(response["articles"][j])
    

df = pd.DataFrame(articlelist)

In [9]:
df.drop(columns = ["url", "urlToImage"], inplace = True)

In [12]:
df.head()

,author,content,description,publishedAt,source,title
0,https://www.facebook.com/bbcnews,Image copyrightTwitterImage caption\r\n Adam K...,Social media expert who propelled The Museum o...,2019-05-22T12:26:05Z,"{'id': 'bbc-news', 'name': 'BBC News'}",Tesla 'hires' witty museum sheep tweeter
1,https://www.facebook.com/bbcnews,Image copyrightAFPImage caption\r\n Mr Musk (R...,The billionaire rounded on a British diver who...,2019-05-11T18:16:21Z,"{'id': 'bbc-news', 'name': 'BBC News'}",Elon Musk faces trial over 'pedo' tweet
2,https://www.facebook.com/bbcnews,Image copyrightNTSBImage caption\r\n The Tesla...,The driver had not had his hands on the wheel ...,2019-05-17T10:35:03Z,"{'id': 'bbc-news', 'name': 'BBC News'}",Tesla Model 3: Autopilot engaged during fatal ...
3,https://www.facebook.com/bbcnews,Image copyrightGetty Images\r\nTesla has said ...,The move follows reports that a parked car cau...,2019-05-16T06:30:15Z,"{'id': 'bbc-news', 'name': 'BBC News'}",Tesla to update battery software after recent ...
4,https://www.facebook.com/bbcnews,Image copyrightGetty ImagesImage caption\r\n S...,"Ted Cruz takes a swipe at ""snarky leftists"" wh...",2019-05-16T16:45:43Z,"{'id': 'bbc-news', 'name': 'BBC News'}",US Senator Ted Cruz irked by 'space pirate' ri...

# Intraday Prices

## Worldtradingdata API

In [14]:
time_data = requests.get("https://intraday.worldtradingdata.com/api/v1/intraday?symbol=TSLA&range=30&interval=5&api_token=HRVV5II6c1MHwsJlPZH2OMw8iJCgZxCjXBR9G9zUOcCxATO6AJxaEfF27gI4")

time_data = time_data.json()

In [15]:
timedict = {}

for k in time_data["intraday"].keys():
    timedict.update({k : time_data["intraday"][k]["open"]})

In [16]:
dftime = pd.DataFrame([timedict])
dftime = dftime.T #transpose
dftime.columns = ["opening prices"]

In [17]:
dftime.head()

                    opening prices
2019-04-29 09:30:00         235.86
2019-04-29 09:35:00         233.50
2019-04-29 09:40:00         234.91
2019-04-29 09:45:00         236.28
2019-04-29 09:50:00         238.90

## To save as csv

In [ ]:
df.to_csv(r"*insert path\newsdata", mode="a")
dftime.to_csv(r"*insert path\stockdata", mode="a")